/* Still under active development */

/* Hide by default, will be shown on privacy.html*/
.osano-cm-widget {
	visibility: hidden;
}

table.archive-list tr td:first-child {
	padding-right: 8px;
	white-space: nowrap;
	vertical-align: top;
}

table.archive-list tr td {
	padding-bottom: 4px;
}

table.archive-list tr:last-child td {
	padding-bottom: 0px;
}

.pagehead {
	position: relative;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #e1e4e8;
}

.footer-icon {
	color: #c6cbd1;
	font-weight: bold;
}

.footer-icon:hover {
	color: #959da5; /* TODO: Replace with $gray-400 */
	text-decoration: none;
}

.markdown-body img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

div[id^='WaveDrom_Display'] {
	overflow: scroll;
}

/* Simple caption using image followed immediately by italicized text (no empty
 * newline between elements) */
.markdown-body p img + em {
	font-style: normal;
	text-align: center;
	display: block;
	color: #959da5;
	margin-top: 16px;
}
