{% extends "base.html" %}
{# {% block html_lang %}{{ page.lang }}{% endblock %} #}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
	{{ super() }}

	{# NOTE: This is a hack until I implement a custom Osano script on my site #}
	{% if page.privacy_page == 'true' %}
	<style>
		.osano-cm-widget {
			visibility: visible;
			opacity: 20%;
		}
	</style>
	{% endif %}

	{# {% import 'translations.html' as translations with context %}
	{% if translations.entry_hreflang(page) %}
		{{ translations.entry_hreflang(page) }}
	{% endif %} #}
{% endblock %}

{% block content %}
<div class="col-12">
	<div class="pagehead">
		<h1>{{ page.title }}</h1>
		{# {% if page.status == 'hidden' %}
			<div><span title="Hidden" class="State State--green State--small mr-2"><i class="fas fa-hat-wizard mr-2" aria-hidden="true"></i>Hidden</span></div>
		{% endif %} #}
	</div>
	{# {% import 'translations.html' as translations with context %} #}
	{# {{ translations.translations_for(page) }} #}

	<article class="markdown-body">
	{{ page.content }}
	</article>

	{# {% if page.modified %}
			<p>
			Last updated: {{ page.locale_modified }}
			</p>
	{% endif %} #}
</div>
{% endblock %}