/* Still under active development */

/*html { scroll-behavior: smooth; }*/

/* Hide by default, will be shown on privacy.html*/
.osano-cm-widget {
	visibility: hidden;
}

table.archive-list tr td:first-child{padding-right:10px;}

.pagehead {
	position: relative;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid #e1e4e8;
}

.footer-icon {
	color: #c6cbd1;
	font-weight: bold;
}

.footer-icon:hover {
	color: #959da5; /* TODO: Replace with $gray-400 */
	text-decoration: none;
}

.markdown-body img {
	display: block;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

div[id^='WaveDrom_Display'] {
	overflow: scroll;
}

/* Centered caption that matches width of image */

.markdown-body figure {
	text-align: center;
	color: #959da5; /* TODO: Replace with $gray-400 */
	display: table;
	max-width: 100%;
	margin: 0px auto 16px; /* TODO: SCSS with spacer-3 */
}

.markdown-body figure img {
	/*max-width: 100%;*/ /* Redundant: Set by Primer (.markdown-body img) */
	padding-bottom: 16px; /* TODO: SCSS with spacer-3 */
}

.markdown-body figure figcaption {
	display: table-caption;
	caption-side: bottom;
}
