<!DOCTYPE html>
<html lang="en">

<head>
{%- block head %}
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
	<link rel="manifest" href="/ico/site.webmanifest">

	<link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script src="https://kit.fontawesome.com/327ca93845.js" crossorigin="anonymous"></script>
{%- endblock head %}
</head>

<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	<div class="Header p-responsive">
		<div class="Header-item">
			<a class="Header-link" href="{{ config.base_url }}/">
				<svg class="octicon v-align-middle mr-lg-2" height="24" width="24" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
					<path d="m49.344 3.0041e-6a11.289 11.288 0 0 0-11.292 11.288v62.386a11.289 11.288 0 0 0 11.289 11.289h4.6576a11.289 11.288 0 0 0 11.289-11.289v-13.951l33.755 62.352a11.289 11.288 0 0 0 9.9276 5.9146h7.7401a11.289 11.288 0 0 0 11.289-11.288v-105.4a11.289 11.288 0 0 0-11.279-11.288l-3.1766-0.0030954a11.289 11.288 0 0 0-11.299 11.288v60.492l-33.806-65.666a11.289 11.288 0 0 0-10.035-6.1218zm-38.056 0.0072492c-6.2347-1.323e-5 -11.289 5.0537-11.289 11.288v105.42c0 6.2343 5.054 11.289 11.289 11.289h57.289a11.289 11.288 0 0 0 9.9281-16.662l-3.3843-6.252a11.289 11.288 0 0 0-9.9281-5.9151h-27.032c-6.2347 0-11.289-5.0543-11.289-11.289v-76.587c0-6.2343-5.054-11.288-11.289-11.288z"/>
				</svg><div class="d-none d-lg-inline-block">{{ config.title }}</div>
			</a>
		</div>
		<div class="Header-item Header-item--full">
		{%- for p in config.extra.menu -%}
			{%- set p_url = get_url(path=p.path) -%}
			<a class="Header-link{% if not loop.last %} mr-3{% endif %} {% if current_url and p_url == current_url %} border-bottom border-red{% endif %}" href="{{ p_url }}">{{ p.title }}</a>
		{%- endfor %}
		</div>
		<div class="Header-item mr-0">
			<nav>
			{%- for s in config.extra.social -%} {# Need to map "name" to "fa icon" #}
				<a class="Header-link{% if not loop.last %} mr-3{% endif %} tooltipped tooltipped-sw" aria-label="{{ s.title }}" href="{{ s.path }}" target="_blank" rel="noopener"><i class="{{ s.icon }}"></i></a>
			{%- endfor %}
			</nav>
		</div>
	</div>

	<div class="container-md p-responsive">
		{% block content %}{% endblock %}
	</div>

	<div class="footer container-md p-responsive">
		<div class="position-relative d-flex flex-justify-between pt-4 pt-lg-6 pb-4 pb-lg-6 mt-4 mt-lg-6 f6 text-gray border-top border-gray-light">
			<div class="col-5 d-none d-md-block">
				<ul class="list-style-none d-flex flex-wrap">
					<li class="mr-3">©2019-2020 Logan Smith</li>
				</ul>
			</div>
			<a class="footer-icon" href="/">
				<svg class="octicon v-align-middle" height="24" width="24" version="1.1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
				<path d="m49.344 3.0041e-6a11.289 11.288 0 0 0-11.292 11.288v62.386a11.289 11.288 0 0 0 11.289 11.289h4.6576a11.289 11.288 0 0 0 11.289-11.289v-13.951l33.755 62.352a11.289 11.288 0 0 0 9.9276 5.9146h7.7401a11.289 11.288 0 0 0 11.289-11.288v-105.4a11.289 11.288 0 0 0-11.279-11.288l-3.1766-0.0030954a11.289 11.288 0 0 0-11.299 11.288v60.492l-33.806-65.666a11.289 11.288 0 0 0-10.035-6.1218zm-38.056 0.0072492c-6.2347-1.323e-5 -11.289 5.0537-11.289 11.288v105.42c0 6.2343 5.054 11.289 11.289 11.289h57.289a11.289 11.288 0 0 0 9.9281-16.662l-3.3843-6.252a11.289 11.288 0 0 0-9.9281-5.9151h-27.032c-6.2347 0-11.289-5.0543-11.289-11.289v-76.587c0-6.2343-5.054-11.288-11.289-11.288z"></path>
			</svg></a>
			<div class="col-md-5 d-flex flex-justify-end">
				<a href="#"><i class="fas fa-arrow-up mr-2" aria-hidden="true"></i>Back to top</a>
			</div>
		</div>
	</div>

</body>

</html>
