{% extends "base.html" %}

{% block title %}{{ config.title }}{% endblock %}

{% block content %}

{# TODO: Add "if no articles" block #}

{% set article = paginator.pages[0] %}

<div class="pagehead">
	<h1><a class="text-inherit" href="{{ article.permalink }}">{{ article.title }}</a></h1>
	<span class="text-gray-light"><i class="far fa-calendar-alt mr-2"></i>{{ article.date | date(format="%B %d, %Y") }}</span>
</div>

<article class="markdown-body pb-4">
{%- if article.summary %}
	{{ article.summary | safe }}
	<p><a href="{{ article.permalink }}">Continue reading</a></p>
{%- else %}
	{{ article.content | safe }}
{%- endif %}
</article>


<hr class="rule my-4" style="border-bottom-style: double; border-bottom-width: 2px"/>
	
<h2 class="mb-1">Recent Posts</h2>

{# TODO: Add "if article count == 1" block #}
<table class="archive-list">
{% for article in paginator.pages | slice(start=1) %}
	<tr>
		<td>{{ article.date | date(format="%B %d, %Y") }}</td>
		<td><a href="{{ article.permalink }}">{{ article.title }}</a></td>
	</tr>
{% else %}
<tr><td>No additional posts</td></tr>
{% endfor %}
</table>

{% endblock content %}
