{% extends "base.html" %}

{% block content %}

<div class="pagehead">
	<h1>{{ page.title }}</h1>
	<div class="d-flex flex-items-center">
	{% if page.draft %}
		<div><span title="Draft" class="State State--green State--small mr-2"><i class="fas fa-drafting-compass mr-2" aria-hidden="true"></i>Draft</span></div>
	{% endif %}
		<div><span class="text-gray-light"><i class="far fa-calendar-alt mr-2"></i>{{ page.date | date(format="%B %d, %Y") }}</span></div>
	</div>
</div>
<article class="markdown-body">
{{ page.content | safe }}
</article>

{% endblock content %}